.Tablet-Page-header {
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
  height: auto; 
  text-align: center; 
  padding: 20px 0; 
  display: flex;
  justify-content: flex-end;
}
.Tablet-Page-header-heading{
  font-weight: 700;
  font-size: 44px;
}
.Tablet-Page-header-image1{
  height: 200px;
}
.Tablet-Page-header-image2{
  height: 450px;
}
#filler-text{
  display: flex;
  font-size: x-large;
  padding: 2px 2px 2px 2px;
}



.Tablet-Page-header {
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
    height: auto;
    text-align: center;
    padding: 20px 0;
  }
  
  .Tablet-Page-header h1 {
    font-size: 36px;
    margin: 0;
  }
  
  .Tablet-Page-container {
    /* background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)); */
    padding: 20px;
    text-align: center;
  }
  
  .Tablet-Main-content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 20px;
    text-align: center;
  }
  
  .Tablet-Main-content h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 0 0 20px;
    text-align: center;
  }
  
  .Tablet-Templates {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .Tablet-Company-Name-Container {
    height: fit-content;
    width: calc(25% - 90px);
    margin-right: 90px;
    margin-bottom: 20px;
    padding: 5px;
    box-sizing: border-box;
    transition: 0.5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 15px;
    background-color: aliceblue;
  }
  
  .Tablet-Company-Name-Container:hover {
    transform: scale(1.1);
  }
  
  .Tablet-Template-Images-Container {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .Tablet-Template-Images-Container:hover {
    transform: scale(1.05);
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
  }
  
  .Tablet-Company-Image {
    display: grid;
    width: -webkit-fill-available;
    padding: 10px 10px 10px 10px;
    height: 200px;
  }
  
  .Tablet-Company-Name {
    display: inline-block;
    margin-top: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-right: 50px;
  }
  
  @media (max-width: 768px) {
    .Tablet-Company-Name-Container {
      width: calc(50% - 45px);
      margin-right: 45px;
    }
  }
  